@import "./index.scss";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
