@import "./global/index.scss";

.about {
  @include section;
  // column-gap: clamp(20px, 5vw, 100px);
  // column-gap: 100px; //!
  padding-top: 0;
}
.pageSeparateLine {
  background-color: $decoration-color;
  border: none;
  height: 3px;
  border-radius: 5px;
  width: 89%;
  max-width: 1800px;
  margin: auto;
  margin-top: 50px;
}

.imageAndNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
  // padding-right: clamp(20px, 5vw, 100px);
}
.imageAndName {
  transform: translateX(clamp(-20px, -5vw, -100px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $decoration-color;
  padding: 20px 20px 30px 20px;
  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    width: 350px;
    border-radius: 2.5px;
  }
  .name {
    @include text;
    font-weight: 450;
    margin-top: 20px;
    font-size: clamp(23px, 5vw, 33px);
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
  row-gap: 60px;

  .text {
    @include text;
    max-width: 650px;
    font-size: clamp(16px, 3vw, 25px);
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  .title {
    @include title;
    font-weight: 500;
    font-size: clamp(45px, 6vw, 80px);
  }
  hr {
    @include titleUnderline;
  }
}

@media (max-width: $media-breakpoint) {
  .about {
    height: auto;
  }
  .imageAndNameContainer {
    height: 50%;
  }
  .imageAndName {
    background-color: transparent;
    padding: 0;
    img {
      padding: 10px;
      border-radius: 100%;
      height: 400px;
      max-height: none;
      width: 400px;
      margin-top: 35px;
      border: 4px $decoration-color solid;
      padding: 10px;
    }
    .name {
      margin-top: 5px;
    }
  }

  .infoContainer {
    height: 50%;
    align-items: center;
    text-align: center;
    .text {
      padding: 0 20px;
    }
  }
  .titleContainer {
    align-items: center;
  }
}
@media (max-width: 650px) {
  .imageAndNameContainer {
    img {
      aspect-ratio: 1 / 1;
      height: auto;
      max-width: 80%;
      width: 350px;
      transform: none;
    }
  }
}
