@import "./global/index.scss";

.hero {
  @include section;
  column-gap: clamp(20px, 5vw, 100px);
  // column-gap: 100px; //!
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;

  img {
    max-height: 90%;
    max-width: 75%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 30px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  position: relative;
  row-gap: 10px;
  .title {
    @include title;
    font-weight: 500;
    font-size: clamp(50px, 7vw, 130px);
  }
  .profession {
    @include secondaryTitle;
    font-size: clamp(13px, 1.8vw, 20px);
  }
  .basedIn {
    @include secondaryTitle(400);
    font-size: clamp(14px, 1.8vw, 20px);
  }
}
.infoContainer.hebrew {
  align-items: center;
  .title,
  .profession,
  .basedIn {
    letter-spacing: 1px;
  }
}

.instagramContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $title-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
  .icon {
    height: auto;
    aspect-ratio: 1 / 1;
    width: 35px;
    color: white;
  }
}
.instagramContainer:hover {
  transform: scale(1.1);
}

@media (max-width: 1250px) {
  .imageContainer img {
    max-height: 95%;
    max-width: 100%;
  }
}

@media (max-width: $media-breakpoint) {
  .hero {
    column-gap: 0;
  }
  .imageContainer {
    height: 70%;
    margin-bottom: -20px;

    img {
      // border-radius: 5px; //!
      max-width: 400px;
      max-height: 100%;
      width: 85%;
    }
  }

  .infoContainer {
    height: 30%;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .instagramContainer {
    position: static;
    margin-top: 15px;
    .icon {
      width: 25px;
    }
  }
}
