@import "./global/index.scss";

.myHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 110dvh;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  row-gap: 60px;
}

.titleContainer {
  .title {
    @include title;
    font-weight: 500;
    font-size: clamp(45px, 6vw, 80px);
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
  position: relative;
  .linesCube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $decoration-color;
    height: 85%;
    width: 55%;
    z-index: -1;
  }
}

.topCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  row-gap: 15px;
  border-radius: 5px;
  max-width: 500px;
  min-height: 250px;
  background-color: $decoration-color;
  h1 {
    @include title;
    font-size: 35px;
    font-weight: 550;
  }
  p {
    @include text;
    font-size: 17px;
  }
}
.yearsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $title-color;
  width: 100%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 95px;
    height: 50px;
    z-index: 10;
    border: 1px solid $title-color;
    background-color: $decoration-color;
  }
  hr {
    position: absolute;
    border: none;
    height: 1px;
    width: 100%;
    background-color: $title-color;
    top: 50%;
    transform: translateY(50%);
  }
}

.languagesAndSkills {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 5px;
  background-color: $decoration-color;
  min-height: 250px;
  column-gap: 100px;
  li {
    @include text;
    font-size: 16px;
    font-weight: 450;
  }
  li:before {
    content: "\2022";
    color: $text-color;
    display: inline-block;
    width: 16px;
    font-size: 23px;
    vertical-align: middle;
  }
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  span {
    @include title;
    font-size: 40px;
  }
}
.languagesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  span {
    @include title;
    font-size: 40px;
  }
}

.languages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 15px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;

  li {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

@media (max-width: $media-breakpoint) {
  .topCards {
    flex-direction: column;
    row-gap: 50px;
  }
  .cardsContainer .linesCube {
    border: none;
    width: 2px;
    background-color: $decoration-color;
  }
  .languagesAndSkills {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    max-width: 500px;
    min-height: 250px;
    width: 100%;
    row-gap: 40px;
  }
  .languagesContainer,
  .skillsContainer {
    row-gap: 30px;
    align-items: center;
  }

  .languages {
    row-gap: 5px;
    align-items: center;
  }
  .skills {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .skills li {
    font-size: 14px;
  }
}
