@import "../global/index.scss";

.exampleItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  width: 100%;
  video {
    height: 65dvh;
    width: auto;
    aspect-ratio: 9/16;
    object-fit: cover;
  }
  .active {
    object-fit: contain;
  }

  p {
    @include secondaryTitle(400);
    font-size: 23px;
  }
}

@media (max-width: 1350px) {
  .exampleItem {
    video {
      height: auto;
      width: 100%;
    }
  }
}
